#wrapper {
    width: 1000px;
    background-color: #e9e9e9;
    top: -1px;
    padding: 50px;
    padding-top: 0px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*Write your CSS rules below!*/
h1, h2 {
    text-align: center;
    color : #2884C3 ;
    font-family : "Oswald", "Helvetica Neue";
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1 {
    font-size: 72px;
}

body {
    font-size: 1.5em;
    font-family: "Crimson Text", "Arial";
    line-height: 1.5;
}

code {
    color : #CE234C;
    background-color: lightgray;
}

.snippet {
    background : lightgray;
}

#font-practice {
    font-style: italic;
    color: green;
}

a:link {
    color: green;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}



